.navbar {
    background: #f3f3f3;
    padding: 10px 20px;
    font-weight: bolder;
    color: #4a518e;
    min-height: 45px;
}

.save-button {
    background: #fff;
    border: 2px solid #4a518e;
    padding: 10px 20px;
    border-radius: 5px;
    color: #4a518e;
    font-weight: bolder;
    cursor: pointer;
    float: right;
    position: relative;
}
.save-button:hover,
.save-button:focus {
    background: #4a518e;
    color: #fff;
}
